apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: {{ .WorkflowNamePrefix }}model-training-
spec:
  entrypoint: model-training
  templates:
    - name: model-training
      steps:
        - - name: train-model
            template: train-model
    - name: train-model
      container:
        image: {{ .ModelTrainingImage }}
        args: ["train-model.sh"]
