apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: {{ .WorkflowNamePrefix }}model-deployment-
spec:
  entrypoint: model-deployment
  templates:
    - name: model-deployment
      steps:
        - - name: deploy-model
            template: deploy-model
    - name: deploy-model
      container:
        image: {{ .ModelDeploymentImage }}
        args: ["deploy-model.sh"]
